#backtitle {
    position: relative;
    background: url('media-cube.jpg') no-repeat center -345px/cover;
    background-attachment: fixed;
    margin-top: 80px;
}

.main {
    position: relative;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 80px;
    width: 80%;
    margin: 0 auto;
}

.title {
    display: flex;
    margin-top: 20px;
    justify-content: left;
    font-size: 1.5rem;
}
.title a {
    text-decoration: none;
    color: black;
    padding: 0px 10px;
}
.title a:hover {
    text-decoration: underline;
}


.brands-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    gap: 10px;
    width: 100%;
}

.brand-wrapper {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: calc(25% - 11px);
    box-sizing: border-box;
}

.brand-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.3s ease, opacity 0.3s ease;
    z-index: 1;
}

.brand-box:hover .overlay {
    background: rgba(0, 0, 0, 0.8);
    opacity: 1;
}

.brands {
    width: 100%;
}

.brands img {
    width: 100%;
    height: 60px;
    object-fit: cover;
}

.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 300px; /* 고정된 높이 설정 */
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.shop-info {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.brand-box:hover .shop-info {
    opacity: 1;
    transform: translate(-50%, -30%);
}

.shop-info p:first-child {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

.shop-info p:nth-child(2) {
    font-size: 0.8rem;
    color: white;
    padding: 5px 0px;
}

.shop-info a {
    background-color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    display: inline-block;
}

.shop-info a:hover {
    background-color: gray;
}
